*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;

  .banners {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    .banner {
      position: relative;
      width: 49.5%;
      height: 120px;
      border-radius: $radius;
      overflow: hidden;

      .banner-inner {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        transition: 0.2s linear;
      }

      h2 {
        position: relative;
        text-align: center;
        font-size: 26px;
        font-family: $font-header;
        text-transform: uppercase;
        color: $color-light;
      }

      p {
        text-align: center;
        font-size: 14px;
        font-family: $font-text;
        text-transform: uppercase;
        color: $color-light;
      }

      span {
        position: absolute;
        bottom: -60px;
        width: 100%;
        text-align: center;
        font-size: 12px;
        font-family: $font-text;
        color: $color-light;
        transition: 0.2s linear;
      }
    }

    .banner.animated:hover span {
      bottom: -30px;
    }

    .banner.animated:hover .banner-inner {
      top: 30%;
    }

    .banner:first-child {
      background-image: url('/images/home/pizza-1.jpg');
      background-position: center;
      background-size: cover;
      cursor: pointer;
    }

    .banner:nth-child(2) {
      background-image: url('/images/home/pizza-2.jpg');
      background-position: center;
      background-size: cover;
      cursor: pointer;
    }

    .banner:last-child {
      width: 100%;
      margin-top: 7px;
      background-color: $color-main;
    }
  }

  .carusel {
    margin-top: 102px;

    .carousel-cell {
      height: 200px;
      border-radius: 5px;
      padding-left: 39px;
      counter-increment: carousel-cell;

      h3 {
        text-transform: uppercase;
        margin-bottom: 25px;
      }

      p {
        margin: 20px 0;
      }
    }

    .carousel-cell:nth-child(odd) {
      width: 30%;
      background-image: url('/images/home/pizza-3.jpg');
      background-position: center;
      background-size: cover;
    }

    .carousel-cell:nth-child(even) {
      margin-top: 25px;
      width: 70%;
    }
  }

  .gallery {
    margin-top: 102px;
    height: 400px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;

    .image {
      width: 32%;
      height: 194px;
      border-radius: $radius;
      overflow: hidden;
      position: relative;

      img {
        height: 100%;
        width: 100%;
        object-fit: cover;
      }

      .icons {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        display: none;
        z-index: 2;
      }

      i {
        color: $color-light;
        font-size: 24px;
        padding: 5px;
      }

      i:hover {
        color: $color-main;
      }
    }

    .image::after {
      position: absolute;
      content: '';
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #000;
      opacity: 0.3;
      z-index: 1;
      display: none;
    }

    .image:hover::after {
      display: block;
    }

    .image:hover .icons {
      display: block;
    }
  }

  footer {
    padding-top: 20px;

    a {
      color: $color-main;
    }
  }
}
